[Unit]
Description=NUMB NEST API
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
StandardOutput=append:/opt/node/numb-api-node/log/service.log
StandardError=append:/opt/node/numb-api-node/log/service_error.log
WorkingDirectory=/opt/node/numb-api-node
ExecStart=npm run start:prod
EnvironmentFile=

[Install]
WantedBy=multi-user.target